:root {
  /* background */
  --color-footer: #f7f7f7;
  /* колір фону модалки та тексту */
  --white: #ffffff;

  /* text and button */
  --orange-button: #ff6b01;
  --black: #000000;
  --text-orange: #ff6b08;
  --text-footer: #545454;
  --text-error: #ff001b;
  --text-modal: #8c8c8c;

  /* fonts */
  --main-font: 'Roboto', sans-serif;
  //'Roboto' sans-serif;

  /* градиент на оверлей */
  --gradient: rgba(0, 0, 0, 0.56);
}
