:root {
    /* background */
    --color-background: #E5E5E5;
    --color-footer: #F7F7F7;
    /* колір фону модалки та тексту */
    --white: #FFFFFF;
  
    /* text and button */
    --orange-button: #FF6B01;
    --black: #000000;
    --text-orange: #FF6B08;
    --text-footer: #545454;
    --text-error:#FF001B;
    --text-modal: #8C8C8C;
     
      /* fonts */
    --main-font: 'Roboto' sans-serif;
    
    /* градиент на оверлей */
    --gradient: rgba(0, 0, 0, 0.56);;
  }