<div class="gallery-card">
    <a href="" class="gallery-art">
        <picture>
            <source media="(min-width: 1024px)" srcset="./images-temporary/gallery_desktop.jpg 1x, ./images-temporary/gallery_desktop@2x.jpg 2x">
            <source media="(min-width: 768px)" srcset="./images-temporary/gallery_tablet.jpg 1x, ./images-temporary/gallery_tablet@2x.jpg 2x">
            <source media="(min-width: 320px)" srcset="./images-temporary/gallery_mobile.jpg 1x, ./images-temporary/gallery_mobile@2x.jpg 2x">

            <img src="./images-temporary/gallery_mobile.jpg" alt="Poster of movie">
        </picture>

    </a>
    <div class="film-description">
        <h2 class="film-name">GREYHOUND</h2>
        <div class="film-info">
            <p class="genres">Drama, Action</p>
            <p class="year">2020</p>
            <p class="rating">10.0</p>
        </div>

    </div>
</div>