<footer class="footer-section">
    <div class="footer-container container">
        <ul class="list footer-list">
            <li class="footer-item">
                <p>&#169 2020</p>
            </li>
            <li class="footer-item">
                <p>All Rights Reserved</p>
            </li>
            <li class="footer-item">
                <p>Developed with<svg class="footer-icon" width="14" height="13">
                        <use href="./images/symbol-defs.svg#icon-vector"></use>
                    </svg>by
                    <a class="footer-link" href="#">GoIT Students</a>
                </p>
            </li>
        </ul>
    </div>
</footer>