<footer class="footer-section">
    <div class="footer-container container">
        <ul class="list footer-list">
            <li class="footer-item">
                <p>&#169 2020</p>
            </li>
            <li class="footer-item">
                <p>All Rights Reserved</p>
            </li>
            <li class="footer-item">
                <p>Developed with<svg class="footer-icon" width="14" height="13">
                        <use href="./images/symbol-defs.svg#icon-vector"></use>
                    </svg>by
                    <a class="footer-link" href="#" data-footer-modal-open>GoIT Students</a>
                </p>
            </li>
        </ul>
    </div>

    <div class="footer-backdrop is-hidden" data-footer-modal>
        <div class="footer-modal">
            <button class="footer-btn" data-footer-modal-close>
                <svg class="footer-cross" width="12" height="12">
                    <use href="./images/symbol-defs.svg#icon-cross"></use>
                </svg>
            </button>
            <div>
                <h2 class="footer-title">Developed with<svg class="footer-icon" width="24" height="23">
                        <use href="./images/symbol-defs.svg#icon-vector1"></use>
                    </svg>by</h2>
                <ul class="team-list">
                    <li class="team-item">
                        <div>
                            <img class="team-img" src="./images/team-img/SM.jpg">
                        </div>
                        <div class="team-member">
                            <h3 class="member-name">Myroslav Sokolov</h2>
                            <p class="team-role">Team Lead</p>
                        </div>
                    </li>
                    <li class="team-item">
                       <div>
                            <img class="team-img" src="./images/team-img/KI.jpg">
                       </div>
                        <div class="team-member">
                            <h3 class="member-name">Inna Klyuchnyk</h2>
                            <p class="team-role">Frontend Developer</p>
                        </div>
                    </li>
                    <li class="team-item">
                        <div>
                            <img class="team-img" src="./images/team-img/KV.jpg">
                        </div>
                        <div class="team-member">
                            <h3 class="member-name"> Vitalii Krat </h2>
                            <p class="team-role">Frontend Developer</p>
                        </div>
                    </li>
                    <li class="team-item">
                        <div>
                            <img class="team-img" src="./images/team-img/TJ.jpg">
                        </div>
                        <div class="team-member">
                            <h3 class="member-name">Julia Tuschenko</h2>
                            <p class="team-role">Frontend Developer</p>
                        </div>
                    </li>
                    <li class="team-item">
                        <div>
                            <img class="team-img" src="./images/team-img/KS.jpg">
                        </div>
                        <div class="team-member">
                            <h3 class="member-name">Stepan Karpyak</h2>
                                <p class="team-role">Frontend Developer</p>
                        </div>
                    </li>
                    <li class="team-item">
                        <div>
                            <img class="team-img" src="./images/team-img/PR.jpg">
                        </div>
                        <div class="team-member">
                            <h3 class="member-name">Roman Pashkevych</h2>
                            <p class="team-role">Frontend Developer</p>
                        </div>
                    </li>
                    <li class="team-item">
                        <div>
                            <img class="team-img" src="./images/team-img/MA.jpg">
                        </div>
                        <div class="team-member">
                            <h3 class="member-name">Andrij Maksymyshyn</h2>
                                <p class="team-role">Frontend Developer</p>
                        </div>
                    </li>
                    <li class="team-item">
                       <div>
                            <img class="team-img" src="./images/team-img/VM.jpg">
                       </div>
                        <div class="team-member">
                            <h3 class="member-name">Mykola Veres</h2>
                            <p class="team-role">Frontend Developer</p>
                        </div>
                    </li>
                    <li class="team-item">
                       <div>
                            <img class="team-img" src="./images/team-img/KL.jpg">
                        </div>
                        <div class="team-member">
                            <h3 class="member-name">Khrystyna Lavryniv</h2>
                            <p class="team-role">Scrum master</p>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</footer>