<header class="header-library">
  <div class="header-conreiner">
  <nav class="header-nav">
    <a href="../src/index.html" class="header-logo link">
      <svg width="24" height="24">
        <use href="./images/icon.svg#icon-film"></use>
      </svg>
      <h1 class="header__title">Filmoteka</h1>
    </a>
    <div class="header-link__conteiner">
      <a href="../src/index.html" class="header-link link">HOME</a>
      <a href="../src/library.html" class="header-link header-link__library header-link--current link">MY LIBRARY</a>
    </div>
  </nav>
  <div class="header-btn__conteiner">
    <button class="header-btn  watched active" type="button">Watched</button>
    <button class="header-btn header-btn__queue queue" type="button">queue</button>
  </div> 
  </div> 
  <div class="theme">
    <a href="#" class="theme__toggle">
      <span class="material-icons">light_mode</span></a>
  </div>
</header>