<header class="header">
  <nav class="header-nav">
    <a href="" class="header-logo">
      <svg width="24" height="24">
        <use href="./images/icon.svg#icon-film"></use>
      </svg>
      <h1 class="header__title visually-hidden">Filmoteka</h1>
    </a>
    <div class="header-btn">
      <button class="header-btn__home" type="submit">HOME</button>
      <button class="header-btn__library" type="submit">MY LIBRARY</button>
    </div>
  </nav>
  <div class="header-form">
    <input
          type="search"
          class="header-form__film-name"         
          name="film-name"
          required          
          placeholder="Поиск фильмов"
          id="film-name">
  </div>  
</header>