<div class="backdrop is-hidden js-backdrop" data-modal>
    <div class="container-wind">
        <button type="button" class="close-btn" data-modal-close>
            <svg class="modal_icon">
                <use href="./images/icon.svg#icon-closed"></use>
            </svg>
        </button>

        <div class="mw">
            <button class="modal_btn_l modal_btn add-to-watched" type="button">add to Watched</button>
            <button class="modal_btn_r modal_btn add-to-queue" type="button">add to queue</button>
        </div>


    </div>
</div>