<div class="team-backdrop is-hidden" data-team-modal>
    <div class="team-modal">
        <button class="team-modal-btn" data-team-modal-close>
            <svg class="team-modal-cross" width="13" height="13">
                <use href="./images/symbol-defs.svg#icon-cross"></use>
            </svg>
        </button>
        <div>
            <h2 class="team-title">Developed with<svg class="team-modal-icon" width="24" height="23">
                    <use href="./images/symbol-defs.svg#icon-vector1"></use>
                </svg>by</h2>
            <ul class="team-list">
                <li class="team-item">
                    <div>
                        <img class="team-img" src="./images/team-img/sokolov.jpg" alt="sokolov">
                    </div>
                    <div class="team-member">
                        <h3 class="member-name">Myroslav Sokolov</h3>
                        <p class="team-role">Team Lead</p>
                    </div>
                </li>
                <li class="team-item">
                    <div>
                        <img class="team-img" src="./images/team-img/klyuchnyk.jpg" alt="klyuchnyk">
                    </div>
                    <div class="team-member">
                        <h3 class="member-name">Inna Klyuchnyk</h3>
                        <p class="team-role">Frontend Developer</p>
                    </div>
                </li>
                <li class="team-item">
                    <div>
                        <img class="team-img" src="./images/team-img/krat.jpg" alt="krat">
                    </div>
                    <div class="team-member">
                        <h3 class="member-name"> Vitalii Krat </h3>
                        <p class="team-role">Frontend Developer</p>
                    </div>
                </li>
                <li class="team-item">
                    <div>
                        <img class="team-img" src="./images/team-img/tuschenko.jpg" alt="tuschenko">
                    </div>
                    <div class="team-member">
                        <h3 class="member-name">Julia Tuschenko</h3>
                        <p class="team-role">Frontend Developer</p>
                    </div>
                </li>
                <li class="team-item">
                    <div>
                        <img class="team-img" src="./images/team-img/karpyak.jpg" alt="karpyak">
                    </div>
                    <div class="team-member">
                        <h3 class="member-name">Stepan Karpyak</h3>
                        <p class="team-role">Frontend Developer</p>
                    </div>
                </li>
                <li class="team-item">
                    <div>
                        <img class="team-img" src="./images/team-img/pashkevych.jpg" alt="pashkevych">
                    </div>
                    <div class="team-member">
                        <h3 class="member-name">Roman Pashkevych</h3>
                        <p class="team-role">Frontend Developer</p>
                    </div>
                </li>
                <li class="team-item">
                    <div>
                        <img class="team-img" src="./images/team-img/maksymyshyn.jpg" alt="maksymyshyn">
                    </div>
                    <div class="team-member">
                        <h3 class="member-name">Andrij Maksymyshyn</h3>
                        <p class="team-role">Frontend Developer</p>
                    </div>
                </li>
                <li class="team-item">
                    <div>
                        <img class="team-img" src="./images/team-img/veres.jpg" alt="veres">
                    </div>
                    <div class="team-member">
                        <h3 class="member-name">Mykola Veres</h3>
                        <p class="team-role">Frontend Developer</p>
                    </div>
                </li>
                <li class="team-item">
                    <div>
                        <img class="team-img" src="./images/team-img/lavryniv.jpg" alt="lavryniv">
                    </div>
                    <div class="team-member">
                        <h3 class="member-name">Khrystyna Lavryniv</h3>
                        <p class="team-role">Scrum master</p>
                    </div>
                </li>
            </ul>
        </div>
    </div>
</div>