.header {
  display: flex;
  padding-top: 41px;
  justify-content: center;
  background-position: center;
  background-repeat: no-repeat;
  background-image: linear-gradient(to right, rgba(0, 0, 0, 0.56), rgba(0, 0, 0, 0.56)),
    url(../images/header-img/hall-mob.jpg);
  margin: 0 auto;
  max-width: 320px;
  height: 230px;
  background-size: 320px 230px;
  background-color: var(--bgc-hero-footer);
}
@media (min-device-pixel-ratio: 2),
  (-webkit-min-device-pixel-ratio: 2),
  (min-resolution: 192dpi),
  (min-resolution: 2dppx) {
  .header {
    background-image: linear-gradient(to right, rgba(0, 0, 0, 0.56), rgba(0, 0, 0, 0.56)),
      url(../images/header-img/hall-mob@2x.jpg);
  }
}
@media screen and (min-width: 320px) {
  .header {
    background-image: linear-gradient(to right, rgba(0, 0, 0, 0.56), rgba(0, 0, 0, 0.56)),
      url(../images/header-img/hall-tab.jpg);
    max-width: 768px;
    background-size: 768px 230px;
  }
  @media (min-device-pixel-ratio: 2),
    (-webkit-min-device-pixel-ratio: 2),
    (min-resolution: 192dpi),
    (min-resolution: 2dppx) {
    .header {
      background-image: linear-gradient(to right, rgba(0, 0, 0, 0.56), rgba(0, 0, 0, 0.56)),
        url(../images/header-img/hall-tab@2x.jpg);
    }
  }
}
@media screen and (min-width: 1024px) {
  .header {
    max-width: 1024px;
    background-size: 1024px 230px;
    background-image: linear-gradient(to right, rgba(0, 0, 0, 0.56), rgba(0, 0, 0, 0.56)),
      url(../images/header-img/cinema-hallDes.jpg);
  }
  @media (min-device-pixel-ratio: 2),
    (-webkit-min-device-pixel-ratio: 2),
    (min-resolution: 192dpi),
    (min-resolution: 2dppx) {
    .header {
      background-image: linear-gradient(to right, rgba(0, 0, 0, 0.56), rgba(0, 0, 0, 0.56)),
        url(../images/header-img/cinema-hall2хDes.jpg);
    }
  }
}
.header-conreiner {
  width: 280px;
  display: flex;
  flex-direction: column;
}
@media screen and (min-width: 768px) {
  .header-conreiner {
    width: 618px;
  }
}
@media screen and (min-width: 1024px) {
  .header-conreiner {
    width: 882px;
  }
}
.header-nav {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.header-logo {
  display: flex;
  align-items: center;
  justify-content: center;
}
.header-form__film-name {
  width: 280px;
  height: 20px;
  background-color: transparent;
  border-color: transparent;
  border-bottom-color: var(--white);
  outline: none;
  color: var(--white);
  padding-bottom: 4px;
}
@media screen and (min-width: 768px) {
  .header-form__film-name {
    width: 336px;
  }
}
.header-form__film-name::placeholder {
  color: var(--white);
  font-size: 14px;
  line-height: 16px;
  background-color: transparent;
}
.header-form__film-name,
.header-form__film-name:hover,
.header-form__film-name:focus,
.header-form__film-name:active {
  box-shadow: inset 0 0 0 50px rgb(0, 0, 0);
  -webkit-text-fill-color: #fff;
  border-color: black black var(--white) black;
}
.header-form {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  margin-top: 37px;
}
.header-btn__form {
  position: absolute;
  transform: translateX(400%);
  background-color: transparent;
  border-color: transparent;
  cursor: pointer;
}
@media screen and (min-width: 768px) {
  .header-btn__form {
    transform: translateX(500%);
  }
}
.material-icons-outlined {
  color: var(--white);
  font-size: 16px;
}
.header__title {
  display: none;
}
@media screen and (min-width: 768px) {
  .header__title {
    display: block;
    margin-left: 10px;
    font-size: 30px;
    line-height: 35px;
    color: var(--white);
  }
}
.header-link__conteiner {
  display: flex;
}
.header-link__library {
  margin-left: 39px;
}
.header-link {
  position: relative;
  font-size: 12px;
  line-height: 14px;
  color: var(--white);
  background-color: transparent;
  border-color: transparent;
  cursor: pointer;
  padding: 0 0 1px 0;
}
.header-link--current::after {
  position: absolute;
  content: '';
  display: block;
  width: 100%;
  height: 3px;
  background-color: var(--text-orange);
  border-radius: 2px;
  left: 0;
  bottom: 0;
}
.header-search__error {
  margin-top: 22px;
  color: #ff001b;
  font-size: 14px;
  line-height: 16px;
  display: flex;
  justify-content: center;
}
.header-search__error-hidden {
  display: none;
}
