.container-wind {
    width: 882px;
    height: 568px;
    background-color: #ffffff;
    display: flex;
    // align-items: center;
    justify-content: center;
    padding-top: 50px;
    padding-bottom: 42px;
    padding-right: 30px;
}

.section_wind {
    width: 396px;
    margin-left: 30px;
    
}
.list_wind {
    display: flex;
}

// .modal_wind {
//     display: flex;

// }