.image_window {
  width: auto;
  height: 500px;
}
.modal_slesh {
  color: var(--text-modal);
}
.modal_icon, .close-btn {
  width: 14px;
  height: 14px;
  right: 18px;
  top: 18px;
  position: absolute;
  color: #000000;
  cursor: pointer;
  z-index: 3;

} 
.modal_icon {
  width: 14px;
  height: 14px;
}
.close-btn {
  position: absolute;
  top: 8px;
  right: 8px;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 30px;
  height: 30px;
  /*  border-radius: 50%; */
  background: #ffffff;
  border: none;
  cursor: pointer;
  padding: 0;

  &:hover,
  &:focus {
    fill: var(--orange-button);
  }
}
.container-wind {
  position: absolute;
  display: flex;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 882px;
  height: 568px;
  background-color: #ffffff;
  padding-left: 30px;
  padding-top: 50px;
  padding-bottom: 42px;
  padding-right: 30px;
  z-index: 2;
  justify-content: space-between;
  // outline: 2px solid red;
}

.section_wind {
  width: 396px;
  height: 477px;
  // margin-left: 30px;
  font-family: var(--main-font);
  font-weight: Medium;
  // object-fit: contain;
}

.list_wind {
  display: flex;
  font-size: 12px;
}

.modal_wind {
  font-family: var(--main-font);
  font-weight: Medium;
  font-size: 30px;
  line-height: 1.17;
  color: var(--black);
  margin-bottom: 20px;
}
.wind_left {
  
  font-family: var(--main-font);
  font-weight: Medium;
  line-height: 1.33;
  color: var(--text-modal);
  width: 395px;
}
.list_l {
  margin-bottom: 10px;
  display: flex;
  font-size: 12px;
}

.list_02, .list_03, .list_04 {
  color: var(--black);
}
.list_r01 {
  font-family: var(--main-font);
  font-weight: Medium;
  display: flex;
  align-items: center;
}
.list_01 {
  background-color: var(--orange-button);
  color: var(--white);
  padding-left: 9px;
  padding-right: 9px;
  padding-top: 2px;
  padding-bottom: 0px;
  border-radius: 5px;
  margin-left: 40px;
  // font-size: 12px;
}
.list_02 {
  font-family: var(--main-font);
  font-weight: Medium;
  line-height: 1.33;
  margin-left: 50px;
}
.list_r01,
.list_02 {
  color: var(--black);
  // margin-bottom: 11px;
}
.list_03 {
  margin-left: 38px;
}
.list_04 {
  margin-left: 75px;
}
.modal_about {
  font-family: var(--main-font);
  font-weight: Medium;
  font-size: 12px;
  line-height: 1.33;
  text-transform: uppercase;
  color: var(--black);
  margin-bottom: 10px;
  margin-top: 10px;
}
.modal_tex {
  font-family: var(--main-font);
  font-weight: Medium;
  font-style: normal;
  font-size: 12px;
  line-height: 1.66;
  color: var(--black);
}
.modal_btn_r {
  margin-left: 15px;
  padding: 14px 21px 12px 21px;
  background-color: var(--white);
  color: var(--black);
  border: var(--white);
  outline: 2px solid var(--black);
}
.modal_btn_l {
  padding: 14px 10px 12px 10px;
  background-color: var(--orange-button);
  color: var(--white);
  border: var(--orange-button);
  outline: 2px solid var(--orange-button);
}
.modal_btn {
  text-transform: uppercase;
  font-family: var(--main-font);
  font-weight: 500;
  font-size: 12px;
  line-height: 1.33;
  border-radius: 5px;
  margin-top: 21px;
  cursor: pointer;
}

@media screen and (max-width: 1023.9px) {
  .container-wind {
    display: flex;
    width: 618px;
    height: 562px;
    background-color: #ffffff;
    padding: 42px 28px 40px 28px;
    z-index: 2;
  }
  .section_wind {
    width: 264px;
  }
  .modal_wind {
    font-size: 20px;
    line-height: 1.17;
    width: 264;
  }
  .modal_btn_r {
    padding: 14px 7px 12px 7px;
  }
  .modal_btn_l {
    padding: 14px 9px 12px 9px;
  }
  /* .modal_icon, .close-btn {
    width: 14px;
    height: 14px;
    right: 18px;
    top: 18px;
    position: absolute;
    color: #000000;
  } */
  .wind_right {
    margin-left: 10px;
      line-height: 1.33;
      font-size: 10px;
  }
  .wind_left {
    width: 264px;
    line-height: 1.33;
    font-size: 10px;
  }
  .modal_btn_r {
    margin-left: 30px;
  }
  .list_01 {
    margin-left: 20px;
    font-size: 10px;
  }
  .list_02 {
    margin-left: 30px;
  }
    .list_03 {
    margin-left: 20px;
  }
    .list_04 {
    margin-left: 52px;
  }
  .image_window {
    width: 264px;
    height: 373px;
  }
  .list_l {
    font-size: 11px;
  }
}

@media screen and (max-width: 767.9px) {
  .container-wind {
    display: block;
    width: 280px;
    height: 958px;
    background-color: #ffffff;
    padding-top: 48px;
    padding-right: 20px;
    padding-bottom: 41px;
    padding-left: 20px;
    z-index: 2;
  }
  .section_wind {
    width: 240px;
    background-color: #ffffff;
  }
  .modal_btn_l {
    // padding: 14px 9px 12px 9px;
    background-color: var(--orange-button);
    color: var(--white);
    border: var(--orange-button);
    outline: 2px solid var(--orange-button);
  }
  .modal_btn_r {
    margin-left: 15px;
    // padding: 14px 9px 12px 9px;
    background-color: var(--white);
    color: var(--black);
    border: var(--white);
    outline: 2px solid var(--black);
  }
  .section_wind {
    margin-left: 0px;
    width: 240px;
    height: 357px;
  }
  .modal_wind {
    margin-top: 30px;
  }
  .wind_right {
    margin-left: 5px;
  }
  .modal_btn_r {
    margin-left: 20px;
  }
  .wind_right, .wind_left {
    font-size: 9px;
  }
  .list_r01,
  .list_02 {
    // margin-bottom: 10px;
  }
  .list_04 {
    margin-left: 48px;
  }
  .image_window {
    width: 240px;
    height: 356px;
  }
  .wind_left {
    width: 240px;
  }
  .list_l {
    font-size: 10px;
  }
}
