.dark {
  background-color: #3c3a3a;
  transition: background-color 0.3s;
}

.material-icons {
  font-size: 23px;
  color: var(--white);
}

.material-icons:hover {
  color: var(--text-orange);
}

.theme {
  position: absolute;
  top: 190px;
  right: 220px;
}

.dark .footer-section {
  background-color: var(--black);
}

.dark .up-btn__icon {
  fill: var(--white);
}

.up-btn__icon:hover {
  fill: var(--orange-button);
}

.dark .poster:hover {
  box-shadow: 0 4px 20px rgb(250, 247, 247);
  transition: box-shadow 0.4s ease-in-out;
}

.poster:hover {
  box-shadow: 0 7px 35px rgb(241, 173, 84);
  transition: box-shadow 0.4s ease-in-out;
}

.dark .film-name {
  color: var(--color-footer);
}
