.dark {
  background-color: #3c3a3a;
  transition: background-color 0.3s;
}

.material-icons {
  font-size: 23px;
  color: var(--white);
}

.material-icons:hover {
  color: var(--text-orange);
}

.theme {
  position: absolute;
  top: 190px;
  right: 20vw;
}

.dark .footer-section {
  background-color: var(--black);
}

.dark .up-btn__icon {
  fill: var(--white);
}

.up-btn__icon:hover {
  fill: var(--orange-button);
}

.dark .poster:hover {
  box-shadow: 0 4px 20px rgb(250, 247, 247);
  transition: box-shadow 0.4s ease-in-out;
}

.poster:hover {
  box-shadow: 0 7px 35px rgb(241, 173, 84);
  transition: box-shadow 0.4s ease-in-out;
}

.dark .film-name {
  color: var(--color-footer);
}

.header-form__film-name:hover,
.header-form__film-name:focus {
  border-bottom: 2px solid #ff6b01;
}

.material-icons-outlined:focus,
.material-icons-outlined:hover {
  transform: scale(2.3);
  transition: calc(0.2s);
}

.header-link:hover,
.header-link:focus {
  color: gainsboro;
}

.library-emty {
  justify-content: center;
  height: 30vh;
  display: flex;
  width: 100%;
  font-size: 28px;
  pointer-events: none;
}
